<head>
  <!-- Reference Google Font-->
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

  <!-- Sass sheet-->
  <link rel="stylesheet" href="{{ '/assets/shadow-shell.css' | relative_url }}">
    <title>{{ page.title }} | {{ site.title }}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>