:root {
  --dark-grey: #191919;
  --light-grey: #686868;
  --lighter-grey: #d5d5d5;
  --white: #ffffff;
  --neon-green: #adff2f;
  --neon-blue: #00fcef;
}

body {
  line-height: 1.8;
  background-color: var(--dark-grey);
  font-family: "JetBrains Mono", monospace;
  margin: auto;
  max-width: 70ch;
  color: var(--white);
  a:link {color: var(--neon-green)}
  a:visited {color: var(--neon-blue)}
  a:hover {color: var(--neon-blue)}
}
h1 {
  color: var(--neon-green);
}

h2 {
  color: var(--neon-green);
}

h3 {
  color: var(--neon-green);
}

pre {
  font-size: small;
  white-space: pre-wrap;
  background: var(--light-grey);
  padding: 10px;
  border: 2px solid var(--lighter-grey);
  border-radius: 10px;
}

code {
  font-family: "JetBrains Mono", monospace;
  white-space: pre-wrap;
}

hr {
  color: var(--light-grey);
  height: 2px;
  background-color: var(--light-grey);
  border: none;
  margin: 1rem 0;
}

footer {
  font-size: x-small;
  text-align: center;
  margin-bottom: 20px;
}

nav{
  line-height: 1.1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  padding: 20px;
  padding-left: 2rem;
  a:link {color: var(--neon-green)}
  a:visited {color: var(--neon-green)}
  a:hover {color: var(--neon-blue)}
}

.four-oh-four {
  display: flex;
  line-height: 0.6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 88vh;
}
